@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

button:hover {
  transition: 0.2s ease;
  border: 2px solid #FFFFFF;
}

h1 {
  font-size: 102px;
  font-weight: 700;
  color: white;
  font-style: normal;
}
/* Catalog Name*/
h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  color: white;
  font-style: normal;
  text-transform: uppercase;
}
/* "The most secure page" */
h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: white;
  font-style: normal;
  text-transform: capitalize;
}

/* ProductName */
h4 {
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  color: white;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5 {
  font-size: 15px;
  font-weight: 700;
  color: white;
}

p {
  font-size: 10px;
  color: white;
 }

button {
  cursor: pointer;
  border: none;
}

a{
  text-decoration: none;
}

img {
  cursor: pointer;
}

.section-p1 {
  padding: 15px 5px;
 }

 body {
  width: 100%;
  background-color: #010922;
  overflow-x: hidden;
 }

 /* Header starts here */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 0px white;
  z-index: 999;
  top: 0;
  left: 0;
  position: fixed;
  padding: 10px 100px;
  background: #010922 ;
  width: 100%;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}


#navbar li a{
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  color: white;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: orange;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width:30%;
  height: 2px;
  background: orange;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

#lg-bag {
  display: none;
}


/* Menu Starts Here */

#menu {
  margin: 10px 350px;
  position: absolute;
  display: flex;
  top: 200px;
}

#menu .bar {
  padding: 5px 110px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#menu a {
  color: #FFFFFF;
  background-color: #E55B13;
  text-decoration: none;
  border-radius: 2px;
}

#menu .cart{
  display: inline-flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  font-size: 25px;
  width: 265px;
  height: 45px;
}

#menu .customer{
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 25px;
  width: 265px;
  height: 45px;
  margin-left: 30px;
}

#menu .payment {
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 22px;
  font-size: 25px;
  width: 265px;
  height: 45px;
  margin-left: 30px;
}

#menu .i {
  display: inline-flex;
  align-items: center;
  padding: 2px 10px;
}

#menu button:hover {
  transition: 0.2s ease;
  background-color: #E55B13;
}


/* cartproducts starts here */ 

#shoppingcart {
  margin: 0px 200px;
  position: absolute;
  top: 320px;
  background-color: rgba(255, 255, 255, 0.03) ;
}

#shoppingcart .title {
  position: relative;
  font-size: 50px;
  line-height: 50px;
  width: 500px;
  margin-top: 0px;
}

#shoppingcart .products {
  position: relative;
  display: block;
  margin-top: 20px;
  width: 900px;
  height: 1250px;
}

#shoppingcart .pro1 {
  position: absolute;
  display: flex;
  width: 900px;
  height: 340px;
}

#shoppingcart .pro2 {
  position: absolute;
  top: 350px;
  display: flex;
  width: 900px;
  height: 340px;
}

#shoppingcart .pro3 {
  position: absolute;
  top: 700px;
  display: flex;
  width: 900px;
  height: 340px;
}

#shoppingcart .h {
  width: 900px;
  height: 5px;
  background-color: #FFFFFF;
  position: absolute;
}

#shoppingcart .proimg {
  position: relative;
  margin-top: 20px;
  width: 230px;
  height: 310px;
}

#shoppingcart .gamename {
  letter-spacing: 0.1em;
  font-size: 28px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 20px;
}

#shoppingcart .platform {
  position: absolute;
  letter-spacing: 0.045em;
  font-weight: 50;
  font-size: 14px;
  margin-top: 300px;
  margin-left: 250px;
}

#shoppingcart .money {
  position: absolute;
  font-weight: bold;
  font-size: 27px;
  margin-left: 92%;
  margin-top: 300px;
} 


#shoppingcart .pro:hover {
  transition: 0.2s ease;
  background: rgba(0, 0, 0, 0.3);
}


#shoppingcart .pro2:hover {
  transition: 0.2s ease;
  background: rgba(0, 0, 0, 0.3);
}

#shoppingcart .pro3:hover {
  transition: 0.2s ease;
  background: rgba(0, 0, 0, 0.3);
}



/* bottom of cartproducts starts  here */ 

#shoppingcart .form {
  display: flex;
  position: absolute;
  top: 1050px;
  width: 40%;
  margin-left: 0px;
}

#shoppingcart input {
  background-color: rgba(255, 255, 255, 0.09);
  color: #FFFFFF;
  border: 1px solid transparent;
  outline: none;
  border-radius: 80px;
  height: 3.932rem;
  padding: 0 1.25em;
  font-size: 22px;
  width: 80%;
  margin-left: 20px;
  margin-top: 30px;
}

#shoppingcart .a {
  position: absolute;
  left: 70%;
  top: 94%;
  background-color: #E55B13;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  position: relative;
  border-radius: 80px;
  padding: 0px 22px;
  font-size: 30px;
  width: 235px;
  height: 50px;
}

#shoppingcart .i {
  display: inline-flex;
  align-items: center;
  font-size: 35px;
  padding: 0px 2px;
}


/* Summary starts here */



#summary {
  margin: 20px 500px;
  position: absolute;
  top: 285px;
  left: 650px;
}

#summary .sum {
  position: relative;
  display: block;
  background-color:  rgba(0, 0, 0, 0.3); 
  width: 630px;
  height: 420px;
}

#summary .order {
  letter-spacing: 0.095em;
  font-size: 55px;
  margin-left: 10px;
}

#summary .pro1{
  display: flex;
  position: absolute;
  width: 600px;
  margin-top: 30px;
  margin-left: 10px;
}

#summary .pro2{
  display: flex;
  position: absolute;
  width: 600px;
  margin-top: 85px;
  margin-left: 10px;
}

#summary .pro3{
  display: flex;
  position: absolute;
  width: 600px;
  margin-top: 140px;
  margin-left: 10px;
}

#summary .proname {
  font-size: 30px;
  text-transform: none;
}

#summary .promoney {
  font-size: 28px;
  margin-left: 300px;
}

#summary .pro2 .promoney {
  margin-left: 350px;
}

#summary .pro3 .promoney {
  margin-left: 392px;
}

#summary .total {
  display: flex;
  position: absolute;
  width: 600px;
  margin-top: 300px;
  margin-left: 10px;
}

#summary .totaltext {
  font-size: 40px;
}

#summary .money {
  font-size: 38px;
  margin-left: 370px;
}




/* Downbar starts here */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 1700px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 19.27%, rgba(0, 0, 0, 0.3) 23.96%, rgba(0, 0, 0, 0.3) 29.17%, rgba(0, 0, 0, 0.3) 54.17%, rgba(229, 91, 19, 0.5) 100%);
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

footer .col2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

footer .col3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

footer .logo {
  margin-bottom: 5px;
}

footer h5 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 5px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
}

footer .follow {
  margin-top: 10px;
}

footer .follow i {
  color: #FFFFFF;
  padding-right: 8px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #E55B13;
  border-radius: 12px;

}

footer .install img {
  margin: 5px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #E55B13;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

footer strong {
  font-weight: 600;
  letter-spacing: 1px;
}




/* Media Query Starts Here */

@media (max-width:1440px) {

  .section-p1 {
    padding: 20px 20px;
   }

   #menu {
    margin: 10px 200px;
    position: absolute;
    display: flex;
  }
  
  #menu .bar {
    padding: 5px 110px;
    position: relative;
  }
  
  #menu button {
    color: #FFFFFF;
    background-color: #E55B13;
    text-decoration: none;
    border-radius: 2px;
  }
  
  #menu .cart{
    display: inline-flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    font-size: 23px;
    width: 264px;
    height: 44px;
  }
  
  #menu .customer{
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 23px;
    width: 264px;
    height: 44px;
    margin-left: 15px;
  }
  
  #menu .payment {
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 23px;
    width: 264px;
    height: 44px;
    margin-left: 15px;
  }
  
  #menu .i {
    display: inline-flex;
    align-items: center;
    padding: 2px 10px;
  }

/* cartproducts starts here */

#shoppingcart {
  margin: 0px 260px;
  position: absolute;
  top: 320px;
  background-color: rgba(255, 255, 255, 0.03) ;
}

/* Summary starts here */


#summary {
  margin: 20px 350px;
  position: absolute;
  top: 1700px;
  left: 0px;
}


  /* Footer starts here */

  footer {
    top: 2200px;
  }

}

@media (max-width:1280px) {

  .section-p1 {
    padding: 10px 5px;
   }

   #header img {
    width: 200px;
    height: 110px;
  }

   /* Product Starts Here */

   #menu {
    margin: 10px 300px;
    top: 150px;
  }
  
  #menu .bar {
    padding: 5px 2px;
  }

  #menu .cart{
    font-size: 21px;
    width: 220px;
    height: 40px;
  }

  #menu .customer{
    font-size: 21px;
    width: 220px;
    height: 40px;
  }

  #menu .payment{
    font-size: 21px;
    width: 220px;
    height: 40px;
  }


  /* cartproducts starts here */ 

  #shoppingcart {
    margin: 0px 250px;
    top: 270px;
  }

  #shoppingcart .title {
    font-size: 40px;
    line-height: 30px;
    width: 350px;
    margin-top: 5px;
  }

  #shoppingcart .products {
    margin-top: 20px;
    width: 800px;
    height: 1220px;
  }

  #shoppingcart .pro1 {
    width: 800px;
    height: 340px;
  }

  #shoppingcart .pro2 {
    top: 340px;
    width: 800px;
    height: 340px;
  }

  #shoppingcart .pro3 {
    top: 680px;
    width: 800px;
    height: 340px;
  }


  #shoppingcart .h {
    width: 800px;
    height: 5px;
  }

  #shoppingcart .proimg {
    margin-top: 20px;
    width: 240px;
    height: 300px;
  }

  #shoppingcart .gamename {
    font-size: 22px;
    margin-top: 40px;
    margin-left: 25px;
  }

  #shoppingcart .platform {
    font-size: 12px;
    margin-top: 290px;
    margin-left: 270px;
  }

  #shoppingcart .money {
    font-size: 20px;
    margin-left: 92%;
    margin-top: 290px;
  } 

  /* bottom of cartproducts starts  here */ 

  #shoppingcart .form {
    top: 1020px;
    width: 40%;
    margin-left: 0px;
  }

  #shoppingcart input {
    height: 3.932rem;
    padding: 0 3.25em;
    font-size: 22px;
    width: 90%;
    margin-left: 20px;
    margin-top: 30px;
  }

  #shoppingcart .a {
    position: absolute;
    left: 69%;
    top: 94%;
  }

  #shoppingcart .continuebutton{
    padding: 0px 21px;
    font-size: 30px;
    width: 238px;
    height: 50px;
    margin-top: 0px;
    margin-left: 0px;
  }

  /* Summary starts here */


#summary {
  margin: 20px 260px;
  top: 1620px;
  left: 0px;
}


  /* footer starts here */

footer {
  top: 2100px;
}

}


@media (max-width:1024px) {

  .section-p1 {
    padding: 10px 5px;
   }

   #header img {
    width: 200px;
    height: 110px;
  }

   /* Product Starts Here */

   #menu {
    margin: 10px 150px;
  }
  
  #menu .bar {
    padding: 5px 2px;
  }

  #menu .cart{
    font-size: 21px;
    width: 220px;
    height: 40px;
  }

  #menu .customer{
    font-size: 21px;
    width: 220px;
    height: 40px;
  }

  #menu .payment{
    font-size: 21px;
    width: 220px;
    height: 40px;
  }


  /* cartproducts starts here */ 

  #shoppingcart {
    margin: 0px 100px;
    top: 270px;
  }

  #shoppingcart .title {
    font-size: 40px;
    line-height: 30px;
    width: 350px;
    margin-top: 5px;
  }

  #shoppingcart .products {
    margin-top: 20px;
    width: 800px;
    height: 1220px;
  }

  #shoppingcart .pro1 {
    width: 800px;
    height: 340px;
  }

  #shoppingcart .pro2 {
    top: 340px;
    width: 800px;
    height: 340px;
  }

  #shoppingcart .pro3 {
    top: 680px;
    width: 800px;
    height: 340px;
  }


  #shoppingcart .h {
    width: 800px;
    height: 5px;
  }

  #shoppingcart .proimg {
    margin-top: 20px;
    width: 240px;
    height: 300px;
  }

  #shoppingcart .gamename {
    font-size: 22px;
    margin-top: 40px;
    margin-left: 25px;
  }

  #shoppingcart .platform {
    font-size: 12px;
    margin-top: 290px;
    margin-left: 270px;
  }

  #shoppingcart .money {
    font-size: 20px;
    margin-left: 92%;
    margin-top: 290px;
  } 

  /* bottom of cartproducts starts  here */ 

  #shoppingcart .form {
    top: 1020px;
    width: 40%;
    margin-left: 0px;
  }

  #shoppingcart input {
    height: 3.932rem;
    padding: 0 3.25em;
    font-size: 22px;
    width: 90%;
    margin-left: 20px;
    margin-top: 30px;
  }

  #shoppingcart .a {
    position: absolute;
    left: 69%;
    top: 94%;
  }

  #shoppingcart .continuebutton{
    padding: 0px 21px;
    font-size: 30px;
    width: 238px;
    height: 50px;
    margin-top: 0px;
    margin-left: 0px;
  }

  /* Summary starts here */


#summary {
  margin: 20px 150px;
  top: 1620px;
  left: 0px;
}


  /* footer starts here */


}


@media (max-width:768px) {

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 200px;
    background: #010922;
    box-shadow: 0 5px 0px white;
    padding: 85px 0 0 10px;
    transition: 0.3;
  }

  #navbar.active{
    right: 0px;
    z-index: 1;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #navbar .bar {
    color: #FFFFFF;
    background-color: #FFFFFF;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i{
    color: #FFFFFF;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    color: #FFFFFF;
    font-size: 24px;
    top: 40px;
    left: 30px;
  }

  #lg-bag {
    display: none;
  }

  #header {
    padding: 20px 40px;
  }

  #header img {
    width: 170px;
    height: 100px;
  }

  .section-p1 {
    padding: 10px 10px;
   }

  /* Product Starts Here */

  #menu {
    margin: 10px 40px;
    display: flex;
  }

  #menu .bar {
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
  }

  #menu .cart{
    font-size: 18px;
    width: 200px;
    height: 35px;
    margin-left: 15px;
  }

  #menu .customer{
    font-size: 18px;
    width: 200px;
    height: 35px;
  }

  #menu .payment{
    font-size: 18px;
    width: 200px;
    height: 35px;
  }

  /* cartproducts starts here */ 


  #shoppingcart {
    margin: 0px 50px;
    top: 250px;
  }

  #shoppingcart .title {
    font-size: 25px;
    line-height: 20px;
    width: 210px;
    margin-top: 5px;
  }

  #shoppingcart .products {
    margin-top: 17px;
    width: 650px;
    height: 850px;
  }

  #shoppingcart .pro1 {
    width: 650px;
    height: 220px;
  }

  #shoppingcart .pro2 {
    top: 235px;
    width: 650px;
    height: 220px;
  }

  #shoppingcart .pro3 {
    top: 470px;
    width: 650px;
    height: 220px;
  }

  #shoppingcart .proimg {
    margin-top: 20px;
    width: 150px;
    height: 200px;
  }

  #shoppingcart .gamename {
    font-size: 15px;
    margin-top: 30px;
    margin-left: 20px;
  }

  #shoppingcart .platform {
    font-size: 8px;
    margin-top: 195px;
    margin-left: 170px;
  }

  #shoppingcart .money {
    font-size: 14px;
    margin-left: 92%;
    margin-top: 195px;
  } 

  #shoppingcart .h {
    width: 650px;
    height: 5px;
  }

    /* bottom of cartproducts starts  here */ 

    #shoppingcart .form {
      top: 710px;
      width: 40%;
      margin-left: 0px;
    }

    #shoppingcart input {
      height: 2.032rem;
      padding: 0 2.05em;
      font-size: 14px;
      width: 60%;
      margin-left: 20px;
      margin-top: 30px;
    }

    #shoppingcart .a {
      position: absolute;
      left: 75%;
      top: 94%;
    }

    #shoppingcart .continuebutton{
      padding: 0px 10px;
      font-size: 17px;
      width: 150px;
      height: 35px;
      margin-top: 0px;
      margin-left: 0px;
    }

    #shoppingcart .i {
      font-size: 20px;
      padding: 10px 6px;
    }


  /* Summary starts here */

  #summary {
    margin: 20px 170px;
    top: 1300px;
    left: 0px;
  }

  #summary .sum {
    background-color:  rgba(0, 0, 0, 0.3); 
    width: 400px;
    height: 230px;
  }

  #summary .order {
    font-size: 30px;
    margin-left: 10px;
  }

  #summary .pro1{
    width: 400px;
    margin-top: 30px;
    margin-left: 10px;
  }

  #summary .pro2{
    width: 400px;
    margin-top: 55px;
    margin-left: 10px;
  }

  #summary .pro3{
    width: 400px;
    margin-top: 80px;
    margin-left: 10px;
  }

  #summary .proname {
    font-size: 14px;
  }

  #summary .promoney {
    font-size: 13px;
    margin-left: 245px;
  }

  #summary .pro2 .promoney {
    margin-left: 267px;
  }
  
  #summary .pro3 .promoney {
    margin-left: 287px;
  }

  #summary .total {
    width: 400px;
    margin-top: 160px;
    margin-left: 10px;
  }

  #summary .totaltext {
    font-size: 20px;
  }

  #summary .money {
    font-size: 18px;
    margin-left: 265px;
  }


  /* Downbar starts here */

  footer {
    top: 1500px;
  }

  footer .logo {
    display: none;
  }
  
  
  footer .col{
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 5px;
  }
  
  footer .col2{
    margin-top: 0px;
    margin-left: 3px;
  }
  
  footer .col3{
    margin-top: 0px;
    margin-left: 3px;
  }
  
  footer .install {
    margin-left: 10px;
  }
  
  footer h5 {
    font-size: 14px;
    padding-bottom: 20px;
  }
  
   footer p {
    font-size: 11px;
    margin: 0 0 3px 0;
   }
  
   footer a {
    font-size: 13px;
    margin-bottom: 8px;
   }
  
   footer .install img {
    width: 40%;
   }
  
   footer strong {
    font-weight: 600;
    letter-spacing: 2px;
   }  


}

@media (max-width: 620px) {

  .section-p1 {
    padding: 10px 7px;
   }

   #header {
    padding: 5px 2px;
  }

   #header img {
    width: 100px;
    height: 60px;
  }

  /* Product Starts Here */

  #menu {
    margin: 10px 30px;
    display: flex;
  }

  #menu .bar {
    padding: 5px 1px;
    display: flex;
    justify-content: space-between;
  }

  #menu .cart{
    font-size: 14px;
    width: 148px;
    height: 30px;
    margin-left: 0px;
  }

  #menu .customer{
    font-size: 14px;
    width: 148px;
    height: 30px;
    margin-left: 8px;
  }

  #menu .payment{
    font-size: 14px;
    width: 148px;
    height: 30px;
    margin-left: 8px;
  }

  /* cartproducts starts here */ 


  #shoppingcart {
    margin: 0px 100px;
    top: 150px;
  }

  #shoppingcart .title {
    font-size: 15px;
    line-height: 10px;
    width: 150px;
    margin-top: 0px;
  }

  #shoppingcart .products {
    margin-top: 5px;
    width: 310px;
    height: 520px;
  }

  #shoppingcart a{
    position: absolute;
  }

  #shoppingcart .pro1 {
    width: 310px;
    height: 110px;
  }

  #shoppingcart .pro2 {
    top: 130px;
    width: 310px;
    height: 110px;
  }

  #shoppingcart .pro3 {
    top: 260px;
    width: 310px;
    height: 110px;
  }

  #shoppingcart .proimg {
    margin-top:14px;
    width: 75px;
    height: 110px;
  }

  #shoppingcart .gamename {
    font-size: 9px;
    margin-top: 15px;
    margin-left: 85px;
  }

  #shoppingcart .platform {
    font-size: 5px;
    margin-top: 100px;
    margin-left: 85px;
  }

  #shoppingcart .money {
    font-size: 9px;
    margin-left: 92%;
    margin-top: 100px;
  } 

  #shoppingcart .h {
    line-height: 0px;
    width: 310px;
    height: 5px;
  }

    /* bottom of cartproducts starts  here */ 

    #shoppingcart .form {
      top: 392px;
      width: 40%;
      margin-left: 0px;
    }

    #shoppingcart input {
      height: 2.000rem;
      padding: 0 2.5em;
      font-size: 9px;
      width: 90%;
      margin-left: 0px;
      margin-top: 30px;
    }

    #shoppingcart .a {
      position: absolute;
      left: 60%;
      top: 94%;
    }

    #shoppingcart .continuebutton{
      padding: 0px 13px;
      font-size: 12px;
      width: 113px;
      height: 28px;
      margin-top: 0px;
      margin-left: 0px;
    }

    #shoppingcart .i {
      font-size: 18px;
      padding: 10px 6px;
    }


  /* Summary starts here */

  #summary {
    margin: 20px 100px;
    top: 710px;
    left: 0px;
  }

  #summary .sum {
    background-color:  rgba(0, 0, 0, 0.3); 
    width: 310px;
    height: 175px;
  }

  #summary .order {
    font-size: 20px;
    margin-left: 10px;
  }

  #summary .pro1{
    width: 300px;
    margin-top: 15px;
    margin-left: 10px;
  }

  #summary .pro2{
    width: 300px;
    margin-top: 35px;
    margin-left: 10px;
  }

  #summary .pro3{
    width: 300px;
    margin-top: 55px;
    margin-left: 10px;
  }

  #summary .proname {
    font-size: 12px;
  }

  #summary .promoney {
    font-size: 11px;
    margin-left: 180px;
  }

  #summary .pro2 .promoney {
    margin-left: 199px;
  }
  
  #summary .pro3 .promoney {
    margin-left: 216px;
  }

  #summary .total {
    width: 300px;
    margin-top: 120px;
    margin-left: 10px;
  }

  #summary .totaltext {
    font-size: 16px;
  }

  #summary .money {
    font-size: 14px;
    margin-left: 202px;
  }


  /* Downbar starts here */

  footer .logo {
    display: none;
  }
  
  footer {
    top: 950px;
  }
  
  footer .col{
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  footer .col2{
    margin-top: 10px;
    margin-left: 3px;
  }
  
  footer .col3{
    margin-top: 10px;
    margin-left: 3px;
  }
  
  footer .install {
    margin-left: 10px;
  }
  
  footer .install h5 {
    padding-bottom: 10px;
  }
  
  footer .follow h5 {
    padding-bottom: 10px;
  }
  
  footer h5 {
    font-size: 14px;
    padding-bottom: 20px;
  }
  
   footer p {
    font-size: 11px;
    margin: 0 0 3px 0;
   }
  
   footer a {
    font-size: 13px;
    margin-bottom: 8px;
   }
  
   footer .install img {
    width: 40%;
   }
  
   footer strong {
    font-weight: 600;
    letter-spacing: 2px;
   }
}

@media (max-width: 477px) {

  .section-p1 {
    padding: 10px 7px;
   }

   #header {
    padding: 5px 2px;
  }

   #header img {
    width: 100px;
    height: 60px;
  }

  /* Product Starts Here */

  #menu {
    margin: 10px 1px;
    display: flex;
  }

  #menu .bar {
    padding: 5px 1px;
    display: flex;
    justify-content: space-between;
  }

  #menu .cart{
    font-size: 14px;
    width: 148px;
    height: 30px;
    margin-left: 0px;
  }

  #menu .customer{
    font-size: 14px;
    width: 148px;
    height: 30px;
    margin-left: 8px;
  }

  #menu .payment{
    font-size: 14px;
    width: 148px;
    height: 30px;
    margin-left: 8px;
  }

  /* cartproducts starts here */ 


  #shoppingcart {
    margin: 0px 60px;
    top: 150px;
  }

  #shoppingcart .title {
    font-size: 15px;
    line-height: 10px;
    width: 150px;
    margin-top: 0px;
  }

  #shoppingcart .products {
    margin-top: 5px;
    width: 310px;
    height: 520px;
  }

  #shoppingcart a{
    position: absolute;
  }

  #shoppingcart .pro1 {
    width: 310px;
    height: 110px;
  }

  #shoppingcart .pro2 {
    top: 130px;
    width: 310px;
    height: 110px;
  }

  #shoppingcart .pro3 {
    top: 260px;
    width: 310px;
    height: 110px;
  }

  #shoppingcart .proimg {
    margin-top:14px;
    width: 75px;
    height: 110px;
  }

  #shoppingcart .gamename {
    font-size: 9px;
    margin-top: 15px;
    margin-left: 85px;
  }

  #shoppingcart .platform {
    font-size: 5px;
    margin-top: 100px;
    margin-left: 85px;
  }

  #shoppingcart .money {
    font-size: 9px;
    margin-left: 92%;
    margin-top: 100px;
  } 

  #shoppingcart .h {
    line-height: 0px;
    width: 310px;
    height: 5px;
  }

    /* bottom of cartproducts starts  here */ 

    #shoppingcart .form {
      top: 392px;
      width: 40%;
      margin-left: 0px;
    }

    #shoppingcart input {
      height: 2.000rem;
      padding: 0 2.5em;
      font-size: 9px;
      width: 90%;
      margin-left: 0px;
      margin-top: 30px;
    }

    #shoppingcart .a {
      position: absolute;
      left: 60%;
      top: 94%;
    }

    #shoppingcart .continuebutton{
      padding: 0px 13px;
      font-size: 12px;
      width: 113px;
      height: 28px;
      margin-top: 0px;
      margin-left: 0px;
    }

    #shoppingcart .i {
      font-size: 18px;
      padding: 10px 6px;
    }


  /* Summary starts here */

  #summary {
    margin: 20px 60px;
    top: 710px;
    left: 0px;
  }

  #summary .sum {
    background-color:  rgba(0, 0, 0, 0.3); 
    width: 310px;
    height: 175px;
  }

  #summary .order {
    font-size: 20px;
    margin-left: 10px;
  }

  #summary .pro1{
    width: 300px;
    margin-top: 15px;
    margin-left: 10px;
  }

  #summary .pro2{
    width: 300px;
    margin-top: 35px;
    margin-left: 10px;
  }

  #summary .pro3{
    width: 300px;
    margin-top: 55px;
    margin-left: 10px;
  }

  #summary .proname {
    font-size: 12px;
  }

  #summary .promoney {
    font-size: 11px;
    margin-left: 180px;
  }

  #summary .pro2 .promoney {
    margin-left: 199px;
  }
  
  #summary .pro3 .promoney {
    margin-left: 216px;
  }

  #summary .total {
    width: 300px;
    margin-top: 120px;
    margin-left: 10px;
  }

  #summary .totaltext {
    font-size: 16px;
  }

  #summary .money {
    font-size: 14px;
    margin-left: 202px;
  }


  /* Downbar starts here */

  footer .logo {
    display: none;
  }
  
  footer {
    top: 950px;
  }
  
  footer .col{
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  footer .col2{
    margin-top: 10px;
    margin-left: 3px;
  }
  
  footer .col3{
    margin-top: 10px;
    margin-left: 3px;
  }
  
  footer .install {
    margin-left: 10px;
  }
  
  footer .install h5 {
    padding-bottom: 10px;
  }
  
  footer .follow h5 {
    padding-bottom: 10px;
  }
  
  footer h5 {
    font-size: 14px;
    padding-bottom: 20px;
  }
  
   footer p {
    font-size: 11px;
    margin: 0 0 3px 0;
   }
  
   footer a {
    font-size: 13px;
    margin-bottom: 8px;
   }
  
   footer .install img {
    width: 40%;
   }
  
   footer strong {
    font-weight: 600;
    letter-spacing: 2px;
   }
}

@media (max-width:420px) {
  #menu {
    margin: 10px 20px;
    display: block;
  }

  #menu .bar {
    padding: 5px 1px;
    display: flex;
    justify-content: space-between;
  }

  #menu .cart{
    position: absolute;
    font-size: 14px;
    width: 150px;
    height: 30px;
    margin-left: 0px;
  }

  #menu .customer{
    position: absolute;
    font-size: 14px;
    width: 150px;
    height: 30px;
    margin-left: 165px;
  }


  #menu .payment{
    position: absolute;
    font-size: 14px;
    width: 150px;
    height: 30px;
    margin-top: 40px;
    margin-left: 0px;
  }

  #shoppingcart {
    margin: 0px 30px;
    top: 200px;
  }


  #summary {
    margin: 20px 20px;
    top: 770px;
    left: 0px;
  }
}

@media (max-width:375px) {
  #menu {
    margin: 10px 1px;
    display: block;
  }

  #menu .bar {
    padding: 5px 1px;
    display: flex;
    justify-content: space-between;
  }

  #menu .cart{
    position: absolute;
    font-size: 14px;
    width: 150px;
    height: 30px;
    margin-left: 0px;
  }

  #menu .customer{
    position: absolute;
    font-size: 14px;
    width: 150px;
    height: 30px;
    margin-left: 165px;
  }


  #menu .payment{
    position: absolute;
    font-size: 14px;
    width: 150px;
    height: 30px;
    margin-top: 40px;
    margin-left: 0px;
  }

  #shoppingcart {
    margin: 0px 20px;
    top: 200px;
  }


  #summary {
    margin: 20px 20px;
    top: 770px;
    left: 0px;
  }
}


@media (max-width:320px) {


  .section-p1 {
    padding: 10px 0px;
   }

   #header {
    padding: 5px 2px;
  }

   #header img {
    width: 100px;
    height: 60px;
  }

  /* Product Starts Here */

  #menu {
    margin: 10px 1px;
    display: block;
  }

  #menu .bar {
    padding: 5px 1px;
    display: flex;
    justify-content: space-between;
  }

  #menu .cart{
    position: absolute;
    font-size: 14px;
    width: 150px;
    height: 30px;
    margin-left: 0px;
  }

  #menu .customer{
    position: absolute;
    font-size: 14px;
    width: 150px;
    height: 30px;
    margin-left: 165px;
  }


  #menu .payment{
    position: absolute;
    font-size: 14px;
    width: 150px;
    height: 30px;
    margin-top: 40px;
    margin-left: 0px;
  }

  /* cartproducts starts here */ 


  #shoppingcart {
    margin: 0px 5px;
    top: 200px;
  }

  #shoppingcart .title {
    font-size: 15px;
    line-height: 10px;
    width: 150px;
    margin-top: 0px;
  }

  #shoppingcart .products {
    margin-top: 5px;
    width: 310px;
    height: 520px;
  }

  #shoppingcart a{
    position: absolute;
  }

  #shoppingcart .pro1 {
    width: 310px;
    height: 110px;
  }

  #shoppingcart .pro2 {
    top: 130px;
    width: 310px;
    height: 110px;
  }

  #shoppingcart .pro3 {
    top: 260px;
    width: 310px;
    height: 110px;
  }

  #shoppingcart .proimg {
    margin-top:14px;
    width: 75px;
    height: 110px;
  }

  #shoppingcart .gamename {
    font-size: 9px;
    margin-top: 15px;
    margin-left: 85px;
  }

  #shoppingcart .platform {
    font-size: 5px;
    margin-top: 100px;
    margin-left: 85px;
  }

  #shoppingcart .money {
    font-size: 9px;
    margin-left: 92%;
    margin-top: 100px;
  } 

  #shoppingcart .h {
    line-height: 0px;
    width: 310px;
    height: 5px;
  }

    /* bottom of cartproducts starts  here */ 

    #shoppingcart .form {
      top: 392px;
      width: 40%;
      margin-left: 0px;
    }

    #shoppingcart input {
      height: 2.000rem;
      padding: 0 2.5em;
      font-size: 9px;
      width: 90%;
      margin-left: 20px;
      margin-top: 30px;
    }

    #shoppingcart .a {
      position: absolute;
      left: 56%;
      top: 92%;
    }

    #shoppingcart .continuebutton{
      padding: 0px 10px;
      font-size: 14px;
      width: 119px;
      height: 30px;
    }

    #shoppingcart .i {
      font-size: 20px;
      padding: 10px 6px;
    }


  /* Summary starts here */

  #summary {
    margin: 20px 3px;
    top: 780px;
    left: 0px;
  }

  #summary .sum {
    background-color:  rgba(0, 0, 0, 0.3); 
    width: 310px;
    height: 175px;
  }

  #summary .order {
    font-size: 20px;
    margin-left: 10px;
  }

  #summary .pro1{
    width: 300px;
    margin-top: 15px;
    margin-left: 10px;
  }

  #summary .pro2{
    width: 300px;
    margin-top: 35px;
    margin-left: 10px;
  }

  #summary .pro3{
    width: 300px;
    margin-top: 55px;
    margin-left: 10px;
  }

  #summary .proname {
    font-size: 12px;
  }

  #summary .promoney {
    font-size: 11px;
    margin-left: 180px;
  }

  #summary .pro2 .promoney {
    margin-left: 199px;
  }
  
  #summary .pro3 .promoney {
    margin-left: 216px;
  }

  #summary .total {
    width: 300px;
    margin-top: 120px;
    margin-left: 10px;
  }

  #summary .totaltext {
    font-size: 16px;
  }

  #summary .money {
    font-size: 14px;
    margin-left: 202px;
  }


  /* Downbar starts here */

  footer .logo {
    display: none;
  }
  
  footer {
    top: 950px;
  }
  
  footer .col{
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  footer .col2{
    margin-top: 10px;
    margin-left: 3px;
  }
  
  footer .col3{
    margin-top: 10px;
    margin-left: 3px;
  }
  
  footer .install {
    margin-left: 10px;
  }
  
  footer .install h5 {
    padding-bottom: 10px;
  }
  
  footer .follow h5 {
    padding-bottom: 10px;
  }
  
  footer h5 {
    font-size: 14px;
    padding-bottom: 20px;
  }
  
   footer p {
    font-size: 11px;
    margin: 0 0 3px 0;
   }
  
   footer a {
    font-size: 13px;
    margin-bottom: 8px;
   }
  
   footer .install img {
    width: 40%;
   }
  
   footer strong {
    font-weight: 600;
    letter-spacing: 2px;
   }
  
}